<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>handlebars模板</title>
</head>
<body>
<div id="container"></div>
<script id="template-user" type="text/liu-template">
		{{#each this}}
            <p>{{name}}:{{age}}</p>
        {{/each}}
</script>






<script type="text/javascript"  src="../jQueryPlugin/jquery-3.4.1.js" charset="utf-8" ></script>
<script type="text/javascript"  src="../jQueryPlugin/jquery.animate-colors.js" charset="utf-8" ></script>
<script type="text/javascript"  src="handlebars-v4.5.3.js" charset="utf-8" ></script>
<script type="text/javascript"  src="template.js" charset="utf-8" ></script>
</body>
</html>