<!DOCTYPE html>
<html>
<head>
  <title>Vue.js框架</title>
  <script type="text/javascript"  src="vue.js" charset="utf-8" ></script>
  <script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>
</head>
<body>
	<div id="app">
	{{ message }}
	</div>
	<div id="app-2">
	  <span v-bind:title="message">
			 鼠标悬停几秒钟查看此处动态绑定的提示信息！
	  </span>
	</div>
	<div id="app-3">
	  <p v-if="seen">现在你看到我了</p>
	</div>
	<div id="app-4">
		<ol>
			<li v-for="todo in todos">{{todo.text}}</li>
		</ol>
	</div>
	<div id="app-5">
		<p>{{message}}</p>
		<button v-on:click="reverseMessage">反转消息</button>
	</div>
	<div id="app-6">
		<p>{{message}}</p>
		<input type="text" v-model="message">
	</div>
	<div id="app-7">  <!--使用组件 todo-item -->
		<todo-item 
				v-for="item in groceryList" 
				v-bind:todo="item" 
				v-bind:key="item.id"
		></todo-item>
	</div>
	<div id="app-8">
		<p>{{foo}}</p>
		<button v-on:click="foo='baz'">Change it</button>
	</div>
	<div id="example">
		<p>Original message:"{{message}}"</p>
		<p>Computed reversed message:"{{reversedMessage}}" 当前时间:"{{now}}"</p>
	</div>
	<!--计算属性 vs 侦听属性-->
	<div id="demo">{{fullName}}</div>
	
	<!--侦听器-->
	<div id="watch-example">
		<p>Ask a yes/no question:<input type="text" v-model="question"></p>
		<p>{{answer}}</p>
	</div>
	<!--Class 与 Style 绑定-->
	<div class="static" v-bind:class="{active:isActive,'text-danger':hasError}"></div>
	<div id='app-9' class="static" v-bind:class="classObject"></div>
	<!--绑定内联样式-->
	<div id='app-10' v-bind:style="{color:activeColor,fontSize:fontSize+'px'}">智慧鸟</div>
	<div id='app-11' v-bind:style="styleObject">笨鸟先飞</div>
	<div id="app-12" v-bind:style="[baseStyles,overridingStyles]">突飞猛进</div>
	<div id="app-13" :style="{ display: ['-webkit-box', '-ms-flexbox', 'flex'] }">厚德载物</div>
	
	<!--条件渲染-->
	<h1 v-if="awesome">Vue is awesome!</h1>
	<h1 v-else>Oh no </h1>
	
	<div id="app-14" v-if="Math.abs(-0.8) > 0.5">Now you see me</div>
	<div v-else>Now you don't</div>
	<!--v-if使用的时候key值的用法-->
	<div id="root">
		<div v-if="show">用户名:<input type="text" key='userName'></div>
		<div v-else=>邮箱名:<input type="text" key='password'></div>
	</div>
	<!-- template标签在vue实例绑定的元素内部 -->
	<div id="app-16">
		<template v-if="true">
			<div>我是template</div>
			<div>我是template</div>
		</template>
		<template v-if="true">
			<div>我是template</div>
			<div>我是template</div>
		</template>
		<template v-for="a in 3">
			<div>我是template</div>
			<div>我是template</div>
		</template>
	</div>
	
	<!-- <div id='v-17' ><p v-for='item in items'>{{ item.message }}</p></div> -->
	<div id="v-17">
		<div  v-for="item in items">{{item.message}}</div>
	</div>
	
	<!-- 显示过滤/排序后的结果 -->
	<ul id="app-18">
		<li v-for="n in evenNumbers">{{n}}</li>
	</ul>
	
	<!-- 在组件上使用 v-for -->
	<div id="todo-list-example">
		<form action="" v-on:submit="">
			<label for="new-todo">Add a todo</label>
			<input v-model="newTodoText" id="new-todo" placeholder="E.g. Feed the cat">
			<button>Add</button>
		</form>
		<ul>
			<li is="todo-item2" 
				v-for="(todo, index) in todos" 
				v-bind:key="todo.id" 
				v-bind:title="todo.title" 
				v-on:remove="todos.splice(index, 1)"
			></li>
		</ul>
	</div>
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
<script type="text/javascript"  src="vue_text.js" charset="utf-8" ></script>
</body>
</html>