<!DOCTYPE html>
<html>
<head>
  <title>Vue.js框架</title>
  <script type="text/javascript"  src="vue.js" charset="utf-8" ></script>
  <script type="text/javascript"  src="vue-router.js" charset="utf-8" ></script>
  <script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>
</head>
<body>
	<div id="app">
	{{ message }}
	</div>
	<div id="app-2">
	  <span v-bind:title="message">
			 鼠标悬停几秒钟查看此处动态绑定的提示信息！
	  </span>
	</div>
	<div id="app-3">
	  <p v-if="seen">现在你看到我了</p>
	</div>
	<div id="app-4">
		<ol>
			<li v-for="todo in todos">{{todo.text}}</li>
		</ol>
	</div>
	<div id="app-5">
		<p>{{message}}</p>
		<button v-on:click="reverseMessage">反转消息</button>
	</div>
	<div id="app-6">
		<p>{{message}}</p>
		<input type="text" v-model="message">
	</div>
	<div id="app-7">  <!--使用组件 todo-item -->
		<todo-item 
				v-for="item in groceryList" 
				v-bind:todo="item" 
				v-bind:key="item.id"
		></todo-item>
	</div>
	<div id="app-8">
		<p>{{foo}}</p>
		<button v-on:click="foo='baz'">Change it</button>
	</div>
	<div id="example">
		<p>Original message:"{{message}}"</p>
		<p>Computed reversed message:"{{reversedMessage}}" 当前时间:"{{now}}"</p>
	</div>
	<!--计算属性 vs 侦听属性-->
	<div id="demo">{{fullName}}</div>
	
	<!--侦听器-->
	<div id="watch-example">
		<p>Ask a yes/no question:<input type="text" v-model="question"></p>
		<p>{{answer}}</p>
	</div>
	<!--Class 与 Style 绑定-->
	<div class="static" v-bind:class="{active:isActive,'text-danger':hasError}"></div>
	<div id='app-9' class="static" v-bind:class="classObject"></div>
	<!--绑定内联样式-->
	<div id='app-10' v-bind:style="{color:activeColor,fontSize:fontSize+'px'}">智慧鸟</div>
	<div id='app-11' v-bind:style="styleObject">笨鸟先飞</div>
	<div id="app-12" v-bind:style="[baseStyles,overridingStyles]">突飞猛进</div>
	<div id="app-13" :style="{ display: ['-webkit-box', '-ms-flexbox', 'flex'] }">厚德载物</div>
	
	<!--条件渲染-->
	<h1 v-if="awesome">Vue is awesome!</h1>
	<h1 v-else>Oh no </h1>
	
	<div id="app-14" v-if="Math.abs(-0.8) > 0.5">Now you see me</div>
	<div v-else>Now you don't</div>
	<!--v-if使用的时候key值的用法-->
	<div id="root">
		<div v-if="show">用户名:<input type="text" key='userName'></div>
		<div v-else=>邮箱名:<input type="text" key='password'></div>
	</div>
	<!-- template标签在vue实例绑定的元素内部 -->
	<div id="app-16">
		<template v-if="true">
			<div>我是template</div>
			<div>我是template</div>
		</template>
		<template v-if="true">
			<div>我是template</div>
			<div>我是template</div>
		</template>
		<template v-for="a in 3">
			<div>我是template</div>
			<div>我是template</div>
		</template>
	</div>
	
	<!-- <div id='v-17' ><p v-for='item in items'>{{ item.message }}</p></div> -->
	<div id="v-17">
		<div  v-for="item in items">{{item.message}}</div>
	</div>
	
	<!-- 显示过滤/排序后的结果 -->
	<ul id="app-18">
		<li v-for="n in evenNumbers">{{n}}</li>
	</ul>
	
	<!-- 在组件上使用 v-for -->
	<div id="todo-list-example">
		<form action="" v-on:submit="">
			<label for="new-todo">Add a todo</label>
			<input v-model="newTodoText" id="new-todo" placeholder="E.g. Feed the cat">
			<button>Add</button>
		</form>
		<ul>
			<li is="todo-item2" 
				v-for="(todo, index) in todos" 
				v-bind:key="todo.id" 
				v-bind:title="todo.title" 
				v-on:remove="todos.splice(index, 1)"
			></li>
		</ul>
	</div>
	
	<div id="app-19">{{meth}}</div>
	
	<!-- 表单输入绑定(双向数据绑定) -->
	<div id="app-20">
		<input type="text" v-model="message" placeholder="edit me">
		<p>Message is：{{message}}</p>
		<!-- 复选框 -->
		<input type="checkbox" id="checkbox" v-model="checked" :disabled="disable">
		<label for="checkbox">{{checked}}</label>
		<br>
		<!-- 多个复选框绑定到一个数组 -->
		<input type="checkbox" id="jack" value="Jack" v-model="checkedNames"><!--checkedNames是数组v-model就绑定到属性value，点击时将对应值添加到数组，如果是布尔值就绑定checked属性（也就是说vue是通过数据类型进行智能绑定的）  -->
		<label for="jack">Jack</label>
		<input type="checkbox" id="john" value="John" v-model="checkedNames">
		<label for="john">John</label>
		<input type="checkbox" id="mike" value="Mike" v-model="checkedNames">
		<label for="mike">Mike</label>
		<br>
		<span>Checked Names:{{checkedNames}}</span>
		<br>
		<!-- 单选按钮 -->
		<input type="radio" name="dxz" id="one" value="One" v-model="picked">   <!--对于单选按钮v-model会智能绑定到value属性 属性name用于分组-->
		<label for="one">One</label>
		<br>
		<input type="radio" name="dxz" id="two" value="Two" v-model="picked">
		<label for="one">Two</label>
		<br>
		<input type="radio" name="dxz" id="three" value="Three" v-model="picked">
		<label for="one">Three</label>
		<br>
		<span>Picked:{{picked}}</span>
		<br>
		<!-- 选择框 -->		
		<select name="01" id="" v-model="selected"><!--v-model默认绑定option的value属性，如果value属性没设置就绑定到innerHtml -->
			<option value="" disabled>请选择</option>
			<option value="a">A</option>	
			<option value="b">B</option>
			<option>C</option><!--此处v-model绑定option的innerHtml -->
		</select>
		<span>Selected:{{selected}}</span>
		<br>
		<!-- 用 v-for 渲染的动态选项： -->
		<select name="02" id="" v-model="selected2">
			<option v-for="option in options" :value="option.value">{{option.text}}</option>
		</select>
		<span>Selected2:{{selected2}}</span>
		<br>
	</div>
	<!-- 表单修饰符 -->
	<div id="app-21">
		<input type="text" v-model.lazy="message">	<!-- 加上lazy修饰符，message并不是实时更新的，而是在失焦或按回车时才更新。 -->
		<p>{{message}}</p>
		<br>
		<input type="number" v-model.number="num">
		<p>数据类型：{{typeof num}}</p>		<!-- .number修饰符，将输入转换为Number类型 -->
		<p>{{num}}</p>
		<br>
		<textarea name="txt" id="" cols="30" rows="10" v-model.trim="str"></textarea><!-- 修饰符 .trim 可以自动过滤输入的首尾空格。 -->
		<p>{{str}}</p>
	</div>
	<!-- 组件基础 -->
	<div id="components-demo">
		<button-counter @click.native='handleClick'></button-counter><!-- 通过.native修饰符绑定原生事件 -->
		<button-counter @click='handleClick'></button-counter>
	</div>
	<!-- 通过 Prop 向子组件传递数据 -->
	<div id="post">
		<blog-post title="My journey with Vue" content="内容1"></blog-post>
		<blog-post title="Blogging with Vue" content="内容2"></blog-post>
		<blog-post title="Why Vue is so fun" content="内容3"></blog-post>
	</div>
	<!-- 监听子组件事件 -->
	<div id="blog-posts-events-demo">
	  <div :style="{ fontSize: postFontSize + 'em' }"><!-- enlarge-text是子组件自定义事件，postFontSize是一个data数据，$event是自定义事件传入的第1个参数-->
		<blog-event
			v-for="post in posts"
			v-bind:key="post.id"
			v-bind:post="post"
			v-on:enlarge-text="postFontSize += $event"
		></blog-event>
	  </div>
	</div>
	<!--在组件上使用 v-model  -->
	<div id="app-22">
		<input is=custom-input v-model.lazy="searchText"></input><!--子组件添加.lazy懒加载不起作用？ -->
		<p>{{searchText}}</p>
	</div>
	<!-- 将原生事件绑定到组件 -->
	<div id="app-23">
        <base-input
            v-model="username" 
            label="基础输入组件"
            @click.native="handleBaseInputClick"
            v-on:focus="handleBaseInputFocus"
            placeholder="请输入您的名字"
            class="username-input"/>
    </div>
	<!------------------通过插槽分发内容----------->	
	<div id="test-slot">
		<!-- 1、单个插槽slot -->
		<single-slot>
			<h3>{{name}}</h3>
			<p>Something bad happened.</p>
		</single-slot>
		<!-- 2、具名插槽slot -->
		<slot-name>
		   <h3>开始</h3>
	　　　　<p>Default slot内容1</p>
		   <template slot="header">
				  <ul>
					   <li>主页</li>
					   <li>分诊</li>
					   <li>护理</li>
					   <li>病历</li>
				   </ul>
			</template>
			<template slot="footer">
			   <p>结尾</p>
			</template>
		</slot-name>
		<!-- 3、作用域插槽slot-scope -->
		<datagrid :data="todos">
		   <template slot="headslot">
				  <tr>
					<td>id</td>
					<td>text</td>
					<td>isTrue</td>
				   </tr>
		   </template>
		  <template slot="bodyslot" slot-scope="slotProps"><!-- 其中slot-scope="{item}"语句也可以通过"slot-scope="slotProps"来实现数据传递，slotProps对像相当于当slot对象上所有props属性的根，通过slotProps对象都能访问到-->
						<td>{{slotProps.item.id}}</td>
						<td>{{slotProps.item.text}}</td>
						<td>{{slotProps.item.isTrue}}</td>
		  </template>
		</datagrid>
	</div>
	<!------------------动态切换组件----------->
	<link rel="stylesheet" type="text/css" href="vue.css" media="all" />
	<div id="dynamic-component-demo">
		<button 
			v-for="tab in tabs"
			v-bind:key="tab"
			v-bind:class="['tab-button',{active:currentTab === tab}]"
			v-on:click="currentTab = tab"
		>{{tab}}
		</button>
		<keep-alive><!-- 失活的组件将会被缓存！ -->
			<component
				v-bind:is="currentTabComponent"
				class="tab"></component>
		</keep-alive>
	</div>
	<!------------------路由----------->
	<div id="app-24">
		<h1>Hello App</h1>
		<p>
			<!-- 使用 router-link 组件来导航. -->
			<!-- 通过传入 `to` 属性指定链接. -->
			<router-link to="/foo">Go to Foo</router-link>
			<router-link to="/bar">Go to Bar</router-link>			
		</p>
		<!-- 路由出口 -->
		<!-- 路由匹配到的组件将渲染在这里 -->
		<router-view></router-view>
	</div>
	<!------------------依赖注入provide 和 inject----------->
	
	<!------------------单元素/组件的过渡----------->
	<div id="demo-25">
		<button v-on:click="show=!show">Toggle</button>
		<transition name="fade">
			<p v-if="show">hello</p>
		</transition>
	</div>
	
	<!-- 单文件组件.vue运用 -->
	<body>
    <app></app>　　<!-- 此处app的组件为入口js main.js中定义的组件名 -->
    <script src="build.js"></script>　　<!-- 此处引用的js为webpack打包生成的js文件 -->
  </body>
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
<script type="text/javascript"  src="vue_text.js" charset="utf-8" ></script>
</body>
</html>