@charset "UTF-8";
li{list-style:none;}    /*去掉列表前面的项目符号*/
i{
    width: 30px;
    height: 24px;
    float: left;
    background: url('http://localhost:8080/ctrip/image/sprite/platform/sprite2019527.png');
    margin: 5px 10px 0 0 ;
}
.cat1 i{
    background-position: 8px -8px;
}
.cat2 i{
    background-position: 90px -66px;
}
.cat3 i{
    background-position: 0 -48px;
}
.cat4 i{
    background-position: 0 -72px;
}


/*========================================gundong.html页面样式========================================================*/
*{
  margin: 0;
  padding: 0;
}
div#gudong{
	position: relative;
	height: 340px;
	margin: 100px auto;
	overflow: hidden;
	background-color: #646464;    
}
div#gudong >ul{
	position:absolute;
	left:0;
	top:0;
	overflow: hidden;
	background-color: #3b7796;
}

div#gudong ul li{
	position: relative;
	float: left;
	height: 340px;
}
div#gudong ul li img{
	height: 340px;
}

div#bottom{
	position:absolute;
	left:0;
	top:0;
	height: 340px;
}
div#bottom >img{
	height: 340px;
}

















