@charset "utf-8";
ul li{list-style:none;}    /*去掉列表前面的项目符号*/
h,h1,h2{
	font: 12px/22px Simsun;
	font-weight:bold;
    color: #333;      /*#333*/	
}
a{ 
	text-decoration:none; 
	color: #333;      /*#333*/
}
body {
    font: 12px/1.5 "Microsoft yahei", arial, Simsun, sans-serif;
    color: #333;      /*#333*/
    background-color: #ffffff;
	margin:0px;
}
button {
    margin: 0;
    padding: 0;
}

input,button:focus{ outline:none; }           /*去除所有输入框、按钮的默认样式*/

/*设置导航块第一行*/
.cui-nav-bar{	position:relative;
				height:38px;
				background-color:#f4f4f4;
				
}
/*导航栏第一行内容div.nav-bar-cont块元素*/
.nav-bar-cont {	position: absolute;
				width:1196px;
				height:38px;
				background:#f4f4f4;
} 
/*元素div.slogan="让旅行更幸福"*/				
div.slogan {	position: absolute;
			left:0px;
			width:90px;
			height:38px;
			line-height:38px;
			text-align: center;
			background-color:#f4f4f4;  /*#f4f4f4*/
}
/*a.selected元素，innerHTML="language"  包含块：div.nav-bar-cont。（将行内元素a转换成块级元素再进行定位）利用高度height与行高line-height相同解决文本居中问题，vertical-align: middle; */
.selected{	display:block;
			position: absolute;
			top:0px;
			left:100px;
			width:auto;
			height:38px;
			line-height:38px;
			background: #f4f4f4; 
			background-image:url('http://localhost:8080/ctrip/image/global.png'),url('http://localhost:8080/ctrip/image/triangle_Downward.png');
			background-size:18px,18px;
			background-repeat:no-repeat,no-repeat;
			background-position:left center,right center;
			margin-left:0px;
			/* margin-bottom:10px; */
			padding-left:23px;
			padding-right:23px;
			text-align: center;
			border-left-style:solid;    /*设置边框*/
			border-left-color:#f4f4f4;
			border-left-width:12px;
			border-right-style:solid;    
			border-right-color:#f4f4f4;
			border-right-width:12px;
			/*box-shadow: 2px 2px 5px 1px #c5c4c4;   /*设置阴影*/
			z-index:9997;
}
/*元素a的多类形式class="selected language_current"*/
.language_current{
			background: white; 
			border-left-color:white;
			border-right-color:white;
			box-shadow: 2px 2px 5px 1px #c5c4c4;   /*设置阴影*/
			background-image:url('http://localhost:8080/ctrip/image/global.png'),url('http://localhost:8080/ctrip/image/triangle_Upward.png');
			background-size:18px,18px;
			background-repeat:no-repeat,no-repeat;
			background-position:left center,right center;
			margin-left:0px;
}
/* 元素div."language_wrap drowndrop"  包含块：div.nav-bar-cont*/
div.language_wrap{
			position: absolute;
			top:38px;
			left:100px;
			width:610px;
			height:302px;
			background: white;
			box-shadow: 2px 2px 5px 1px #c5c4c4;   /*设置阴影*/	
			z-index:9998;
}
/*元素ul.language_list 用于遮盖a.selected元素与div.language_wrap元素相交部分。包含块：div.language_wrap*/
ul.language_list{
			position: absolute;
			top:-4px;
			left:0px;
			width:86px;
			height:4px;
			background:white;
			z-index:9999;
}
/*语言列表元素ul.language_list子元素li公共属性*/
ul.language_list li a{
			position: absolute;
			width:159px;
			height:30px;
			line-height:32px;
			background: white;
			background-size:22px,22px;
			background-repeat:no-repeat;
			background-position:left center;		
			padding-left:25px;
			border-left-style:solid;    /*设置边框*/
			border-left-color:white;
			border-left-width:8px;
	
}
/*元素a#ctrip_cn，innerHTML="简体中文"*/
#ctrip_cn{			
			top:10px;
			left:13px;			 
			background-image:url('http://localhost:8080/ctrip/image/nationalFlag/china_Flag.jpg');			
}
/*元素a#ctrip_eng，innerHTML="English (United States)"*/
#ctrip_eng{			
			top:10px;
			left:205px;   	
			background-image:url('http://localhost:8080/ctrip/image/nationalFlag/USA_Flag.jpg');			
}
/*元素a#ctrip_uk，innerHTML="English (United Kingdom)"*/
#ctrip_uk{			
			top:10px;
			left:397px;   
			background-image:url('http://localhost:8080/ctrip/image/nationalFlag/uk_Flag.jpg');	
}
/*元素a#ctrip_egy，innerHTML="埃及语（Egypt）*/
#ctrip_egy{			
			top:45px;
			left:13px;	  
			background-image:url('http://localhost:8080/ctrip/image/nationalFlag/Egypt.jpg');			
}
/*元素a#ctrip_ire，innerHTML="爱尔兰语（Ireland）*/
#ctrip_ire{			
			top:45px;
			left:205px;  
			background-image:url('http://localhost:8080/ctrip/image/nationalFlag/Ireland.jpg');			
}
/*元素a#ctrip_aus，innerHTML="澳大利亚语（Australia）*/
#ctrip_aus{			
			top:45px;
			left:397px; 
			background-image:url('http://localhost:8080/ctrip/image/nationalFlag/Australia.jpg');			
}
/*元素a#ctrip_jap，innerHTML="日语（Japanese）*/
#ctrip_jap{			
			top:82px;
			left:13px;	  
			background-image:url('http://localhost:8080/ctrip/image/nationalFlag/Japanese.jpg');			
}
/*元素a#ctrip_bra，innerHTML="巴西 (Brazil)"*/
#ctrip_bra{			
			top:82px;
			left:205px;  
			background-image:url('http://localhost:8080/ctrip/image/nationalFlag/Brazil.jpg');			
}
/*元素a#ctrip_kor，innerHTML="朝鲜 (Korea)"*/
#ctrip_kor{			
			top:82px;
			left:397px; 
			background-image:url('http://localhost:8080/ctrip/image/nationalFlag/Korea.jpg');			
}
/*元素a#ctrip_den，innerHTML="丹麦（Denmark"*/
#ctrip_den{			
			top:119px;
			left:13px;	  
			background-image:url('http://localhost:8080/ctrip/image/nationalFlag/Denmark.jpg');			
}
/*元素a#ctrip_ger，innerHTML="德语（German）"*/
#ctrip_ger{			
			top:119px;
			left:205px;  
			background-image:url('http://localhost:8080/ctrip/image/nationalFlag/German.jpg');			
}
/*元素a#ctrip_rus，innerHTML="俄语（Russian）"*/
#ctrip_rus{			
			top:119px;
			left:397px; 
			background-image:url('http://localhost:8080/ctrip/image/nationalFlag/Russian.jpg');			
}
/*元素a#ctrip_fre，innerHTML="法语（French）"*/
#ctrip_fre{			
			top:156px;
			left:13px;	  
			background-image:url('http://localhost:8080/ctrip/image/nationalFlag/French.jpg');			
}
/*元素a#ctrip_cub，innerHTML="古巴语（Cuban）"*/
#ctrip_cub{			
			top:156px;
			left:205px;  
			background-image:url('http://localhost:8080/ctrip/image/nationalFlag/Cuban.jpg');			
}
/*元素a#ctrip_korn，innerHTML="韩语（Korean）"*/
#ctrip_korn{			
			top:156px;
			left:397px; 
			background-image:url('http://localhost:8080/ctrip/image/nationalFlag/Korean.jpg');			
}
/*元素a#ctrip_dut，innerHTML="荷兰语（Dutch）"*/
#ctrip_dut{			
			top:193px;
			left:13px;	  
			background-image:url('http://localhost:8080/ctrip/image/nationalFlag/Dutch.jpg');			
}
/*元素a#ctrip_can，innerHTML="加拿大（Canada English）"*/
#ctrip_can{			
			top:193px;
			left:205px;  
			background-image:url('http://localhost:8080/ctrip/image/nationalFlag/Canada.jpg');			
}
/*元素a#ctrip_mya，innerHTML="缅甸Myanmar（Burmese）"*/
#ctrip_mya{			
			top:193px;
			left:397px; 
			background-image:url('http://localhost:8080/ctrip/image/nationalFlag/Myanmar.jpg');			
}
/*元素a#ctrip_mex，innerHTML="墨西哥语（Mexico）"*/
#ctrip_mex{			
			top:230px;
			left:13px;	  
			background-image:url('http://localhost:8080/ctrip/image/nationalFlag/Mexico.jpg');			
}
/*元素a#ctrip_sou，innerHTML="南非SouthAfrica(English)"*/
#ctrip_sou{			
			top:230px;
			left:205px;  
			background-image:url('http://localhost:8080/ctrip/image/nationalFlag/SouthAfrica.jpg');			
}
/*元素a#ctrip_swe，innerHTML="瑞典语（Sweden）"*/
#ctrip_swe{			
			top:230px;
			left:397px; 
			background-image:url('http://localhost:8080/ctrip/image/nationalFlag/Sweden.jpg');			
}
/*元素a#ctrip_swi，innerHTML="瑞士语（Switzerland）"*/
#ctrip_swi{			
			top:267px;
			left:13px;	  
			background-image:url('http://localhost:8080/ctrip/image/nationalFlag/Switzerland.jpg');			
}
/*元素a#ctrip_spa，innerHTML="西班牙语（Spanish）"*/
#ctrip_spa{			
			top:267px;
			left:205px;  
			background-image:url('http://localhost:8080/ctrip/image/nationalFlag/Spanish.jpg');			
}
/*元素a#ctrip_gre，innerHTML="希腊语（Greek）"*/
#ctrip_gre{			
			top:267px;
			left:397px; 
			background-image:url('http://localhost:8080/ctrip/image/nationalFlag/Greek.jpg');			
}
/*元素ul.nav-bar-set。注：导航栏靠右部分，从“您好，请登录”处开始*/
ul.nav-bar-set{
			position: absolute;
			margin:0px;
			top:0px;
			left:583px;      /*最小值：185*/
			width:613px;
			height:38px;
			background-color:#f4f4f4;  /*#f4f4f4*/
}
/*元素li#nav-bar-set-login，唯一子元素a.person-text，innerHTML="您好，请登录"。包含块：ul.nav-bar-set*/
#nav-bar-set-login  a{
			position: absolute;
			top:0px;
			left:0px;
			width:72px;
			height:38px;
			line-height:38px;
			color:#0066cc;
}
/*元素li#nav-bar-set-reg，唯一子元素a.person-text nav-per，innerHTML="免费注册"。包含块：ul.nav-bar-set*/
#nav-bar-set-reg  a.person-text.nav-per{
			position: absolute;
			margin-left:16px;
			padding:0px;
			top:0px;
			left:72px;
			width:48px;
			height:38px;
			line-height:38px;
}
/*元素li>i.infor-notice 作为分隔竖线使用，即【消息】前面的竖线。包含块：ul.nav-bar-set*/
.infor-notice {
			position: absolute;
			margin-left:16px;
			top:0px;
			left:136px;
			width:15px;
			height:38px;
			line-height:38px;
			background-image:url('http://localhost:8080/ctrip/image/vLine.png'); 	
			background-size:15px,15px;
			background-repeat:no-repeat;
			background-position:left center;
}
/*元素a.infor-num，innerHTML="消息"。包含块：ul.nav-bar-set*/
.infor-num{
			position: absolute;
			margin-left:10px;
			padding-left:17px;
			top:0px;
			left:167px;
			width:24px;
			height:38px;
			line-height:38px;
			background-image:url('http://localhost:8080/ctrip/image/envelope.png'); 	
			background-size:15px,15px;
			background-repeat:no-repeat;
			background-position:left center;
			
}
/*消息数量元素a.infor-num >span，innerHTML="0"即。包含块：a.infor-num*/
.infor-num  span{
			position: absolute;
			padding-left:17px;
			padding-right:15px;
			top:0px;
			left:34px;
			width:auto;
			height:38px;
			line-height:38px;
			background-image:url('http://localhost:8080/ctrip/image/vLine.png'); 	
			background-size:15px,15px;
			background-repeat:no-repeat;
			background-position:right center;
}
/*元素a.person-text.nav-myctrip，innerHTML="我的携程"，鼠标移出。包含块：ul.nav-bar-set*/
li.set-list.set-myctrip-list a.person-text.nav-myctrip{
			position: absolute;
			margin-left:22px;
			padding-right:16px;
			padding-left:10px;
			top:0px;
			left:221px;
			width:65px;
			height:38px;
			line-height:38px;	
			background:#f4f4f4; 
			z-index:9998;
}
/*元素a.person-text.nav-myctrip，innerHTML="我的携程"，鼠标移入。包含块：ul.nav-bar-set*/
li.set-list.set-myctrip-list.current  a.person-text.nav-myctrip{
			background:white;  
			border-left-style:solid;    /*设置边框*/ 
			border-left-color:#b7b5b5;
			border-left-width:1px;
			border-right-style:solid;    
			border-right-color:#b7b5b5;
			border-right-width:1px;
			box-shadow: 1px 1px 1px #c5c4c4;   /*设置阴影*/ 
			z-index:9998;
}
/*辅助元素三角形。元素a.person-text.nav-myctrip，innerHTML="我的携程"右边的三角形（朝下）。包含块：ul.nav-bar-set*/
li.set-list.set-myctrip-list a.person-text.nav-myctrip .n-arrow{
			position: absolute;
			top:0px;
			left:50px;
			width:36px;
			height:38px;
			line-height:38px;
			background-image:url('http://localhost:8080/ctrip/image/triangle_Downward.png'); 	
			background-size:18px,18px;
			background-repeat:no-repeat;
			background-position:center;
}
/*辅助元素三角形。元素a.person-text.nav-myctrip，innerHTML="我的携程"右边的三角形(朝上)。包含块：ul.nav-bar-set*/
li.set-list.set-myctrip-list.current a.person-text.nav-myctrip .n-arrow{
			background-image:url('http://localhost:8080/ctrip/image/triangle_Upward.png'); 	
			background-size:18px,18px;
			background-repeat:no-repeat;
			background-position:center;
}
/*元素ul.nav-drowndrop，"我的携程"下拉框。包含块：ul.nav-bar-set*/
ul.nav-drowndrop{
			position: absolute;
			top:36px;
			left:243px;
			width:51px;
			height:123px;
			background:white;  
			border-left-style:solid;    /* 设置边框 */
			border-left-color:#b7b5b5;
			border-left-width:1px;
			border-right-style:solid;    
			border-right-color:#b7b5b5;
			border-right-width:1px;
			border-bottom-style:solid;    
			border-bottom-color:#b7b5b5;
			border-bottom-width:1px;
			box-shadow: 1px 1px 1px #c5c4c4;   /* 设置阴影 */
			z-index:9999;
}
/*"我的携程"下拉框下第一个元素li，用作辅助元素，遮盖下拉框上面的阴影线。包含块：ul.nav-drowndrop*/
ul.nav-drowndrop li:first-of-type{
			position: absolute;
			top:-2px;
			left:0px;
			width:90px;
			height:5px;
			background:white; 
}
/*元素li.myXiecheng01，innerHTML="我的收藏"。包含块：ul.nav-drowndrop*/
ul.nav-drowndrop li:first-of-type a{
			position: absolute;
			top:5px;
			padding-left:10px;
			width:80px;
			height:30px;
			line-height:30px;
			background:white; 
}
/*元素li.myXiecheng02，innerHTML="我的优惠券"。包含块：ul.nav-drowndrop*/
ul.nav-drowndrop li:nth-of-type(2) a{
			position: absolute;
			top:33px;
			left:0px;
			padding-left:10px;
			width:81px;
			height:30px;
			line-height:30px;
			background:white; 
}
/*元素li.myXiecheng03，innerHTML="常用信息"。包含块：ul.nav-drowndrop*/
ul.nav-drowndrop li:nth-of-type(3) a{
			position: absolute;
			top:63px;
			left:0px;
			padding-left:10px;
			width:81px;
			height:30px;
			line-height:30px;
			background:white; 
}
/*元素li.myXiecheng04，innerHTML="我的钱包"。包含块：ul.nav-drowndrop*/
ul.nav-drowndrop li:nth-of-type(4) a{
			position: absolute;
			top:93px;
			left:0px;
			padding-left:10px;
			width:81px;
			height:30px;
			line-height:30px;
			background:white; 
}
/*元素li.set-list.set-myorder-list a.person-text.nav-myctrip，innerHTML="我的订单"，鼠标移出。包含块：ul.nav-bar-set*/
li.set-list.set-myorder-list a.person-text.nav-myctrip {
			display:block;
			position: absolute;
			left:329px;
			padding-left:18px;
			padding-right:25px;
			width:50px;
			height:38px;
			line-height:38px;
			background-image:url('http://localhost:8080/ctrip/image/vLine.png');
			background-size:15px,15px;
			background-repeat:no-repeat;
			background-position:left center;
			z-index:9999;
}
/*元素a.person-text.nav-myctrip，innerHTML="我的订单"，鼠标移入。包含块：ul.nav-bar-set*/
li.set-list.set-myorder-list.current  a.person-text.nav-myctrip{
			background:white;  
			border-left-style:solid;    /*设置边框*/ 
			border-left-color:#b7b5b5;
			border-left-width:1px;
			border-right-style:solid;    
			border-right-color:#b7b5b5;
			border-right-width:1px;
			box-shadow: 1px 1px 1px #c5c4c4;   /*设置阴影*/ 
}
/*辅助元素三角形。元素a.person-text.nav-myctrip，innerHTML="我的携程"右边的三角形（朝下）。包含块：ul.nav-bar-set*/
li.set-list.set-myorder-list a.person-text.nav-myctrip .n-arrow{
			position: absolute;
			top:0px;
			left:60px;
			width:36px;
			height:38px;
			line-height:38px;
			background-image:url('http://localhost:8080/ctrip/image/triangle_Downward.png'); 	
			background-size:18px,18px;
			background-repeat:no-repeat;
			background-position:center;
}
/*辅助元素三角形。元素a.person-text.nav-myctrip，innerHTML="我的携程"右边的三角形(朝上)。包含块：ul.nav-bar-set*/
li.set-list.set-myorder-list.current a.person-text.nav-myctrip .n-arrow{
			background-image:url('http://localhost:8080/ctrip/image/triangle_Upward.png'); 	
			background-size:18px,18px;
			background-repeat:no-repeat;
			background-position:center;
}
/*元素ul.nav-drowndrop.drowndrop-order，"我的订单"下拉框。包含块：ul.nav-bar-set*/
ul.nav-drowndrop.drowndrop-order{
			position: absolute;
			padding-left:0px;
			top:38px;
			left:329px;
			width:115px;
			height:186px;
			background:white;  
			border-style:solid;    /* 设置边框 */
			border-color:#b7b5b5;
			border-width:1px;
			box-shadow: 1px 1px 1px #c5c4c4;   /* 设置阴影 */
			z-index:9999;
}
/*"我的订单"下拉框下第一个元素li，用作辅助元素，遮盖下拉框上面的阴影线。包含块：ul.nav-drowndrop.drowndrop-order*/
ul.nav-drowndrop.drowndrop-order > li:first-of-type{
			position: absolute;
			top:-2px;
			left:0px;
			width:93px;
			height:3px;
			background:white; 
}
/*元素ul.nav-drowndrop.drowndrop-order li a，innerHTML="机票+相关订单"。包含块：ul.nav-drowndrop.drowndrop-order*/
ul.nav-drowndrop.drowndrop-order > li:first-of-type a{
			position: absolute;
			top:5px;
			padding-left:17px;
			width:98px;
			height:30px;
			line-height:30px;
			background:white; 
}
/*元素ul.nav-drowndrop.drowndrop-order li a，innerHTML="酒店订单"。包含块：ul.nav-drowndrop.drowndrop-order*/
ul.nav-drowndrop.drowndrop-order > li:nth-of-type(2) a{
			position: absolute;
			top:35px;
			padding-left:17px;
			width:98px;
			height:30px;
			line-height:30px;
			background:white; 
}
/*元素ul.nav-drowndrop.drowndrop-order li a，innerHTML="旅游订单"。包含块：ul.nav-drowndrop.drowndrop-order*/
ul.nav-drowndrop.drowndrop-order > li:nth-of-type(3) a{
			position: absolute;
			top:65px;
			padding-left:17px;
			width:98px;
			height:30px;
			line-height:30px;
			background:white; 
}
/*元素ul.nav-drowndrop.drowndrop-order li a，innerHTML="火车票订单"。包含块：ul.nav-drowndrop.drowndrop-order*/
ul.nav-drowndrop.drowndrop-order > li:nth-of-type(4) a{
			position: absolute;
			top:95px;
			padding-left:17px;
			width:98px;
			height:30px;
			line-height:30px;
			background:white; 
}
/*元素ul.nav-drowndrop.drowndrop-order li a，innerHTML="全部订单"。包含块：ul.nav-drowndrop.drowndrop-order*/
ul.nav-drowndrop.drowndrop-order > li:nth-of-type(5) a{
			position: absolute;
			top:125px;
			padding-left:17px;
			width:98px;
			height:30px;
			line-height:30px;
			background:white; 
}
/*辅助元素（水平分隔线），ul.nav-drowndrop.drowndrop-order li:last-of-type，用作"全部订单"与"手机号查订单"之间的分隔线。包含块：ul.nav-drowndrop.drowndrop-order*/
ul.nav-drowndrop.drowndrop-order > li:last-of-type{
			position: absolute;
			top:155px;
			margin-left:17px;			
			left:0px;
			width:84px;
			height:0px;
			border-bottom: 1px solid #b7b5b5;		/*1px solid rgba(255, 255, 255, 0.3)*/	
}

/*元素ul.nav-drowndrop.drowndrop-order li a，innerHTML="手机号查订单"。包含块：ul.nav-drowndrop.drowndrop-order*/
ul.nav-drowndrop.drowndrop-order > li:last-of-type a{
			position: absolute;
			margin-left:0px;	
			top:1px;
			left:-17px;
			padding-left:17px;
			width:98px;
			height:30px;
			line-height:30px;
			background:white; 
}
/*辅助元素（垂直分隔线），ul.nav-bar-set li:nth-of-type(6)，用作"我的订单"与"客服中心"之间的垂直分隔线。。包含块：ul.nav-bar-set*/
ul.nav-bar-set > li:nth-of-type(6){
			position: absolute;
			top:12px;
			left:423px;
			width:0px;
			height:15px;
			border-left:2px solid #dddddd;
			z-index:9997;
}
/*元素ul.nav-bar-set li:nth-of-type(6) a，innerHTML="客服中心"。包含块：ul.nav-bar-set li:nth-of-type(6)*/
ul.nav-bar-set > li:nth-of-type(6) a{
			position: absolute;
			margin-left:10px;
			width:48px;
			top:-12px;
			height:38px;
			line-height:38px;
}
/*辅助元素（垂直分隔线），ul.nav-bar-set li:nth-of-type(7)，"客服中心"右边的垂直分隔线。。包含块：ul.nav-bar-set*/
ul.nav-bar-set > li:nth-of-type(7){
			position: absolute;
			top:12px;
			left:495px;
			width:0px;
			height:15px;
			border-left:2px solid #dddddd;
			z-index:9997;
}
/*元素ul.nav-bar-set li:nth-of-type(7) a，（手机App扫描下载）用于确定位置。包含块：ul.nav-bar-set li:nth-of-type(7)*/
ul.nav-bar-set > li.set-list.set-phone >a{    
			display:block;
			position: absolute;
			top:-12px;
			margin-left:-2px;
			width:40px;
			height:38px;
			z-index:9999;
}
/*元素ul.nav-bar-set li:nth-of-type(7) a，（手机App扫描下载）用于确定位置。包含块：ul.nav-bar-set li:nth-of-type(7)*/
ul.nav-bar-set > li.set-list.set-phone.current  >a{           /*鼠标移入*/
			border-left-style:solid;    /*设置边框*/
			border-left-color:#b7b5b5;
			border-left-width:1px;
			border-right-style:solid;    
			border-right-color:#b7b5b5;
			border-right-width:1px;
			box-shadow: 1px -1px 1px #c5c4c4;   /*设置阴影*/	 
			background:white;
			z-index:9999;
}


/*元素ul.nav-bar-set li:nth-of-type(7) a i.ico_app，（手机App扫描下载）用于确定位置。包含块：ul.nav-bar-set li:nth-of-type(7)*/
ul.nav-bar-set > li.set-list.set-phone a  i.ico_app{
			display:block;
			position: absolute;
			top:12px;
			left:0px;
			margin-left:5px;
			width:30px;
			height:18px;
			background-image:url('http://localhost:8080/ctrip/image/sprite/platform/sprite2019527.png'); 	/*使用sprite雪碧图图标*/
			background-repeat:no-repeat;
			background-position:-90px -68px;	
}
/*元素ul.phone-drowndrop，（手机App扫描下载下拉框）。包含块：ul.nav-bar-set li:nth-of-type(7)*/
ul.phone-drowndrop{
			position: absolute;
			padding-left:0px;
			top:25px;
			left:-109px;
			width:147px;
			height:190px;
			background:white;  
			border-style:solid;    /* 设置边框 */
			border-color:#b7b5b5;
			border-width:1px;
			box-shadow: 1px 1px 5px #c5c4c4;   /* 设置阴影 */	
			z-index:9998;			
}
/*元素ul.phone-drowndrop > li.ico_code img，（手机扫码二维码图片）。包含块：ul.phone-drowndrop*/
ul.phone-drowndrop  > li.ico_code img{
			position: absolute;
			top:10px;
			margin-left:15px;
}
/*元素ul.phone-drowndrop > li.ico_code p，innerHTML="手机扫码快速下载"。包含块：ul.phone-drowndrop*/
ul.phone-drowndrop  > li.ico_code p{
			position: absolute;
			top:115px;
			margin-left:22px;
}
/*元素ul.phone-drowndrop  > li.ctrip-app，innerHTML="携程旅行手机版"。包含块：ul.phone-drowndrop*/
ul.phone-drowndrop > li.ctrip-app {
			position: absolute;
			top:155px;
			left:0px;
			padding-left:22px;
			width:125px;
			height:35px;
			background:#91bbf1;
}
/*元素ul.phone-drowndrop  > li.ctrip-app a，innerHTML="携程旅行手机版"。包含块：ul.phone-drowndrop*/
ul.phone-drowndrop > li.ctrip-app  a:first-of-type {
			display:block;
			position: absolute;
			top:0px;
			width:84px;
			height:35px;
			line-height:35px;
			color:white;
}
/*【携程旅行手机版】文本右边的白色大于号图标元素ul.phone-drowndrop  > li.ctrip-app i.arrow-right。包含块：ul.phone-drowndrop*/
ul.phone-drowndrop > li.ctrip-app  i.arrow-right{
			position: absolute;
			top:12px;
			left:106px;
			width:12px;
			height:18px;
			background-image:url('http://localhost:8080/ctrip/image/sprite/platform/sprite2019527.png'); 	/*使用sprite雪碧图图标*/
			background-repeat:no-repeat;
			background-position:-72px -10px;	
}
/*微信二维码图标元素li.set-list.set-wechat，（该元素用于确定位置）。包含块：ul.nav-bar-set*/
li.set-list.set-wechat{
			position: absolute;
			top:0px;
			left:537px;
			z-index:9997;
}
/*微信二维码图标元素a.person-text.nav-myctrip。包含块：li.set-list.set-wechat*/
li.set-list.set-wechat > a.person-text.nav-myctrip{
			position: absolute;
			width:54px;
			height:38px;
			z-index:9998;
}
/*微信二维码图标元素a.person-text.nav-myctrip。（鼠标移入）包含块：li.set-list.set-wechat*/
li.set-list.set-wechat.current > a.person-text.nav-myctrip{  
			border-left-style:solid;    /*设置边框*/
			border-left-color:#b7b5b5;
			border-left-width:1px;
			border-right-style:solid;    
			border-right-color:#b7b5b5;
			border-right-width:1px;
			box-shadow: 1px -1px 1px #c5c4c4;   /*设置阴影*/	 
			background:white;
}


/*微信二维码图标元素a.person-text.nav-myctrip 。包含块：li.set-list.set-wechat*/
li.set-list.set-wechat > a.person-text.nav-myctrip  span.set-text  i.ico_wechat{
			position: absolute;
			top:15px;
			margin-left:17px;
			width:20px;
			height:18px;
			background-image:url('//localhost:8080/ctrip/image/sprite/platform/sprite2019527.png'); 	/*使用sprite雪碧图图标*/
			background-repeat:no-repeat;
			background-position:-96px -102px;	
}
/*元素ul.wechat-drowndrop，（微信扫码下拉框）。包含块：li.set-list.set-wechat*/
ul.wechat-drowndrop{
			position: absolute;
			padding-left:0px;
			top:37px;
			left:-93px;
			width:147px;
			height:180px;
			background:white;  
			border-style:solid;    /* 设置边框 */
			border-color:#b7b5b5;
			border-width:1px;
			box-shadow: 1px 1px 5px #c5c4c4;   /* 设置阴影 */	
			z-index:9997;			
}
/*元素ul.wechat-drowndrop > li.ico_code img，（微信二维码图片）。包含块：ul.wechat-drowndrop*/
ul.wechat-drowndrop > li.ico_code img{
			position: absolute;
			top:10px;
			margin-left:15px;
}
/*元素ul.wechat-drowndrop > li.ico_code p:first-of-type，innerHTML="携程订阅号：helloctrip"。包含块：ul.wechat-drowndrop*/
ul.wechat-drowndrop > li.ico_code > p:first-of-type {
			position: absolute;
			top:120px;
			margin-left:10px;
	
}
/*元素ul.wechat-drowndrop > li.ico_code p:last-of-type，innerHTML="扫一扫，领旅行福利"。包含块：ul.wechat-drowndrop*/
ul.wechat-drowndrop > li.ico_code > p:last-of-type {
			position: absolute;
			top:138px;
			margin-left:10px;
	
}
/*元素ul.wechat-drowndrop > li.ico_code p:last-of-type span，innerHTML="领旅行福利"。包含块：ul.wechat-drowndrop*/
ul.wechat-drowndrop > li.ico_code > p:last-of-type  span{ color:red; }

/***=================================================【第二栏】==================================================================================================*/
/*元素div.cui_hd_cont，作为第二栏框架。包含块：body*/
.cui_hd_cont{
	position:relative;
	height:80px;
	background-color:white;         /*   #aeacac   */
}
.cui_hd{
	position:relative;
	height:80px;
	width:1196px;
	background-color:white;
}
.cui_hd .ctriplogo {
	display: inline-block;
    position: relative;  
	left:0px;
    width: 126px;
    height: 43px;
    margin: 18px 0;     /*设置上下边距18px 左右边距0px*/
    overflow: hidden;
}
/*元素div.cui_hd .ctriplogo a ，innerHTML="携程旅行网"。第二栏携程log。包含块：div.cui_hd*/
.cui_hd .ctriplogo a {
    display: block;
    width: 126px;
    height: 43px;
    background: url('//localhost:8080/ctrip/image/sprite/common/c_logo2013.png') no-repeat;
    text-indent: -999px;  		/*使用文本缩进隐藏innerHTML="携程旅行网"*/
    overflow: hidden;
}
/*元素div.cui_search，第二栏搜索框。包含块：div.cui_hd*/
div.cui_search{
	position: absolute;
	top:25px;
	left:116px;
	margin-left:50px;
	width:385px;
	height:28px;
	border:1px solid #a4cbff;       /*边框*/
	border-radius:5px;		/*圆角*/
	background:#a4cbff;            /*#0f6ce9*/
}
/*元素input#_allSearchKeyword，input输入框。包含块：div.cui_search*/
#_allSearchKeyword{
	position: absolute;
	top:0px;
	padding:0px;
	margin:0px 0px 0px 0px;	
	width:340px;
	height:28px;
	border:0px solid #a4cbff;       /*边框*/
	border-radius:5px 0px 0px 5px;		/*圆角*/
	/* box-shadow: 1px 1px 1px #a4cbff inset;    /*设置阴影 */	
}
/*元素button#search_button_global，搜索按钮。包含块：div.cui_search*/
#search_button_global{
	position: absolute;
	top:0px;
	left:340px;
	width:30px;
	height:28px;
	border: 0px;  
	box-shadow:none;
	background:#a4cbff;  /*#a4cbff*/
	background-image:url('http://localhost:8080/ctrip/image/sprite/platform/un_header_footer20160610.png'); 	/*使用sprite雪碧图图标*/
	background-repeat:no-repeat;
	background-position:-50px -603px;
}
/*元素div.nav-tel，携程客服电话。包含块：div.cui_hd*/
div.nav-tel{
	position: absolute;
	top:0px;
	left:950px;
	
}
/*元素ul.nav-tel-list，携程客服电话列表。包含块：div.nav-tel*/
#cui-nav-tel-list{
	position: absolute;
	margin:12px 0px 0px 0px;
	padding:12px 25px 0 0;
	width:194px;
	height:40px;
	border:1px solid white;       /*边框*/
	box-shadow: 1px 1px 2px 1px white;   /*设置阴影*/
	text-align:right;
	background:white;
	z-index:9910;
	
}
/*元素li.tel-list-more，携程客服电话列表后两项。包含块：ul.nav-tel-list*/
li.tel-list-more{
	display:none;           /*隐藏后两项*/
}
/***=================================================【第三栏】==================================================================================================*/
div#cui_nav{
	position:relative;
	margin:0px;
	padding:0px;
	height:40px;
	background:#2577e3;
}
div.base_nav{
	position: absolute;
	margin:0px;
	padding:0px;
	width:1196px;
	height:40px;
}
ul#cui_nav_ul{
	position: absolute;
	margin:0px;
	padding:0px;
	width:1196px;
	height:40px;
}
/*行列表内容公共属性设置：【首页】、【酒店】、【跟团游】、【自由行】、【机票】、【火车】、【汽车▪船】、【用车】、【门票】、【攻略】、【全球卡】、【礼品卡】、【商旅】、【游轮】、【目的地】、【金融】、【跟多】。*/
ul#cui_nav_ul >li{
	position: relative;
	float:left;
	padding:0px 10px;
	width:45px;
	height:40px;
	line-height:40px;
	background:#2577e3;
}
ul#cui_nav_ul >li.current{  /*鼠标移入或点击时背景颜色进行转换*/
	background:#0a56bb;	
}
ul#cui_nav_ul >#cui_c_ph_hp{
	width:30px;        /*首页*/
}
ul#cui_nav_ul >#cui_nav_destination{
	width:75px;        /*汽车▪船*/
}
ul#cui_nav_ul >#cui_c_ph_you{
	width:30px;        /*攻略*/
}
ul#cui_nav_ul >#cui_nav_cruise{
	width:30px;        /*邮轮*/
}
ul#cui_nav_ul >#cui_finance_pc{
	width:30px;        /*金融*/
}
ul#cui_nav_ul >#cui_nav_g{
	width:60px;			/*全球购*/
}
ul#cui_nav_ul >#cui_nav_lpk{
	width:60px;			/*礼品卡*/
}
/*行列表内容字体及颜色*/
ul#cui_nav_ul >li >a{
	font: 15px/1.5 "Microsoft yahei", arial, Simsun, sans-serif;
	color:white;
}
/*行列表内容分隔符【|】属性设置：*/
ul#cui_nav_ul >li.divider{
	position: relative;
	padding:0px;
	top:13px;
	width:0px;	
	height:14px;
	border-left:1px solid #1a5fbb;
}
ul.cui_nav.cui_content >li >a >i.cui_ico_triangle{  /*朝下白色三角形占位*/
	position: absolute;	
	display:inline-block;
	top:13px;
	left:40px;
	width:15px;
	height:15px;
	background-image:url('//localhost:8080/ctrip/image/sprite/platform/sprite2019527.png'); 	/*使用sprite雪碧图图标*/
	background-repeat:no-repeat;
	background-position:-98px -149px;	
	transform:rotate(180deg);
	-ms-transform:rotate(180deg);      /* IE 9 */
	-webkit-transform:rotate(180deg);  /* Safari and Chrome */
	transition: transform 0.2s ease 0s;  /*transition与transform结合使用*/
	-webkit-transition: transform 0.2s ease 0s; /* Safari and Chrome */    
}
ul.cui_nav.cui_content >li >a#nav_destination >i.cui_ico_triangle{left:70px;}   /*汽车▪船*/ 
ul.cui_nav.cui_content >li >a#nav_g >i.cui_ico_triangle{left:55px;}   /*全球购*/ 
ul.cui_nav.cui_content >li >a#nav_lpk >i.cui_ico_triangle{left:55px;}   /*礼品卡*/


ul.cui_nav.cui_content >li.current >a >i.cui_ico_triangle{   /*鼠标移入或点击时白色三角形旋转360度*/
	transform:rotate(360deg);
	-ms-transform:rotate(360deg);      /* IE 9 */
	-webkit-transform:rotate(360deg);  /* Safari and Chrome */
}

ul#cui_nav_ul >li.sub >div.cui_subnav_wrap{  /*第三栏所有li列表子项下拉框公共属性定义*/
	position: absolute;	
	display:none;
	top:40px;
	left:0px;
	margin:0px;
	padding:0px;
	width:1196px;
	height:40px;
	border:1px solid #2577e3;
	border-top:none;
	font: 14px/1.5 "Microsoft yahei", arial, Simsun, sans-serif;
	background:white;
	z-index:9930;
}
ul#cui_nav_ul >li#cui_nav_hotel.sub >div.cui_subnav_wrap{left:-51px;}   /* 酒店下拉列表*/
ul#cui_nav_ul >li#cui_nav_vac.sub >div.cui_subnav_wrap{left:-117px;}   /* 旅游下拉列表*/
ul#cui_nav_ul >li#cui_nav_flight.sub >div.cui_subnav_wrap{left:-315px;}   /* 机票拉列表*/
ul#cui_nav_ul >li#cui_nav_trains.sub >div.cui_subnav_wrap{left:-381px;}   /* 火车下拉列表*/
ul#cui_nav_ul >li#cui_nav_destination.sub >div.cui_subnav_wrap{left:-447px;}   /* 汽车▪船下拉列表*/
ul#cui_nav_ul >li#cui_nav_car.sub >div.cui_subnav_wrap{left:-543px;}   /* 用车下拉列表*/
ul#cui_nav_ul >li#cui_nav_ticket.sub >div.cui_subnav_wrap{left:-609px;}   /* 门票下拉列表*/
ul#cui_nav_ul >li#cui_nav_g.sub >div.cui_subnav_wrap{left:-726px;}   /* 全球购下拉列表*/
ul#cui_nav_ul >li#cui_nav_lpk.sub >div.cui_subnav_wrap{left:-807px;}   /* 礼品卡下拉列表*/
ul#cui_nav_ul >li#cui_nav_sl.sub >div.cui_subnav_wrap{left:-888px;}   /* 商旅下拉列表*/
ul#cui_nav_ul >li#cui_nav_more.sub >div.cui_subnav_wrap{left:-1122px;}   /* 更多下拉列表*/

div.cui_subnav_wrap > ul.cui_sub_nav{
	position: relative;
	margin:0px;
	padding:0px;
	width:1200px;
	height:40px;
}
div.cui_subnav_wrap > ul.cui_sub_nav li{
	position: relative;
	display:inline-block;
	left:15px;
	padding:0px 8px;
	height:40px;
	line-height:40px;
	float:left;
}
/*行列表内容分隔符【|】属性设置：*/
div.cui_subnav_wrap >ul.cui_sub_nav >li.divider{
	position: relative;
	padding:0px;
	top:13px;
	width:0px;	
	height:14px;
	border-left:1px solid #cccccc;
}
div.cui_subnav_wrap > a{
	position: relative;
	top:-30px;
	padding:0px 15px;
	float:right;
}


/***=================================================【第四栏】==================================================================================================*/
div.mod.cui_subway_internal{
		position:relative;
		margin:0px;
		padding:0px;
		width:1196px;
		height:42px;
		background:white;
}
h2.line-title{                  /*境外直通车*/
		position:absolute;
		top:9px;
		margin:0px;
		padding:0 5px;
		width:auto;
		height:auto;
		border-radius:3px;		/*圆角*/
		color:white;
		background:#74a8ed;		
}
h2.line-title > i.icon-arrow{    /*境外直通车右边三角形图标*/
		position:absolute;
		top:2px;
		width:12px;
		height:18px;	
		background:none;
		background-image:url('http://localhost:8080/ctrip/image/nar-4/triangle_right.png');
		background-size:23px,23px;
		background-repeat:no-repeat;
		background-position:center;		
}
ul.line-list{
		position:absolute;
		margin:0px;
		padding:0px;
		left:94px;
		width:1102px;
		height:42px;
		line-height:42px;
		background:white;
}
ul.line-list > li{
		position: relative;
		display:inline-block;
		padding-left:34px;
		height:42px;
		line-height:42px;
		float:left;
}
ul.line-list > li:hover >a{
		color:#2577e3;
}
ul.line-list > li >i{
		position: absolute;	
		display:inline-block;
		top:12px;
		left:12px;
		width:22px;
		height:20px;
		background-image:url('//localhost:8080/ctrip/image/sprite/platform/un_icon_index_type20170111.png'); 	/*使用sprite雪碧图图标*/
		background-repeat:no-repeat;
}
ul.line-list > li >i.cui-icon-hotel {  /*海外酒店*/
	background-position:-23px 0px;
}
ul.line-list > li >i.cui-icon-flight {  /*国际▪港澳台机票*/
	background-position:0px 0px;
}
ul.line-list > li >i.cui-icon-car {  /*境外租车*/
	background-position:-128px 0px;
}
ul.line-list > li >i.cui-icon-train {  /*国际▪港台火车票*/
	background-position:-50px 0px;
}
ul.line-list > li >i.cui-icon-outboundtravel {  /*出境游*/
	background-position:-23px -53px;
}
ul.line-list > li >i.cui-icon-HHtravel {  /*高端游*/
	background-position:-102px -26px;
}
ul.line-list > li >i.cui-icon-ticket {  /*出境▪港澳台门票*/
	background-position:-23px -26px;
}
ul.line-list > li >i.cui-icon-visa {  /*签证*/
	background-position:0px -52px;
}
ul.line-list > li >i.cui-icon-insurance {  /*保险*/
	background-position:-76px -26px;
}
ul.line-list > li >i.cui-icon-wifi {  /*WiFi▪电话卡？*/
	background-position:-128px -26px;
}
ul.line-list > li >i.cui-icon-pickup {  /*境外接送机？*/
	background-position:-23px -78px;
	background-image:url('//localhost:8080/ctrip/image/sprite/platform/un_icon_index_type.png'); 	/*使用sprite雪碧图图标*/
}
ul.line-list > li >i.cui-icon-foreign {  /*外币兑换*/
	background-position:-23px -78px;
}

/***=================================================【第五栏：搜索栏（滚动广告）】==================================================================================================*/
div.mod-banner,
div.pic_banner,
#allyesId_init_img
{
	position:relative;
		margin:0px;
		padding:0px;
		height:340px;
		background:red;
}
div.pic_banner a img{
	position:relative;
		margin:0px;
		padding:0px;
		height:340px;
}















































