@charset "utf-8";
ul li{list-style:none;}    /*去掉列表前面的项目符号*/
a{ 
	text-decoration:none; 
	color: #333;      /*#333*/
}
body {
    font: 12px/1.5 "Microsoft yahei", arial, Simsun, sans-serif;
    color: #333;      /*#333*/
    background-color: #ffffff;
	margin:0px;
}
/*导航栏内容div.nav-bar-cont块元素*/
.nav-bar-cont {	position: absolute;
				width:1196px;
				height:38px;
				background-color:#f4f4f4;				
} 
/*元素div.slogan="让旅行更幸福"*/				
div.slogan {	position: absolute;
			left:0px;
			width:90px;
			height:38px;
			line-height:38px;
			text-align: center;
			background-color:#f4f4f4;  /*#f4f4f4*/
}
/*a.selected元素，innerHTML="language"  包含块：div.nav-bar-cont。（将行内元素a转换成块级元素再进行定位）利用高度height与行高line-height相同解决文本居中问题，vertical-align: middle; */
.selected{	display:block;
			position: absolute;
			top:0px;
			left:100px;
			width:auto;
			height:38px;
			line-height:38px;
			background: #f4f4f4; 
			background-image:url('http://localhost:8080/ctrip/image/global.png'),url('http://localhost:8080/ctrip/image/triangle_Downward.png');
			background-size:18px,18px;
			background-repeat:no-repeat,no-repeat;
			background-position:left center,right center;
			margin-left:0px;
			/* margin-bottom:10px; */
			padding-left:23px;
			padding-right:23px;
			text-align: center;
			border-left-style:solid;    /*设置边框*/
			border-left-color:#f4f4f4;
			border-left-width:12px;
			border-right-style:solid;    
			border-right-color:#f4f4f4;
			border-right-width:12px;
			/*box-shadow: 2px 2px 5px 1px #888888;   /*设置阴影*/
			z-index:9997;
}
/*元素a的多类形式class="selected language_current"*/
.language_current{
			background: white; 
			border-left-color:white;
			border-right-color:white;
			box-shadow: 2px 2px 5px 1px #888888;   /*设置阴影*/
			background-image:url('http://localhost:8080/ctrip/image/global.png'),url('http://localhost:8080/ctrip/image/triangle_Upward.png');
			background-size:18px,18px;
			background-repeat:no-repeat,no-repeat;
			background-position:left center,right center;
			margin-left:0px;
}
/* 元素div."language_wrap drowndrop"  包含块：div.nav-bar-cont*/
div.language_wrap{
			position: absolute;
			top:38px;
			left:100px;
			width:610px;
			height:302px;
			background: white;
			box-shadow: 2px 2px 5px 1px #888888;   /*设置阴影*/	
			z-index:9998;
}
/*元素ul.language_list 用于遮盖a.selected元素与div.language_wrap元素相交部分。包含块：div.language_wrap*/
ul.language_list{
			position: absolute;
			top:-4px;
			left:0px;
			width:86px;
			height:4px;
			background:white;
			z-index:9999;
}
/*语言列表元素ul.language_list子元素li公共属性*/
ul.language_list li a{
			position: absolute;
			width:159px;
			height:30px;
			line-height:32px;
			background: white;
			background-size:22px,22px;
			background-repeat:no-repeat;
			background-position:left center;		
			padding-left:25px;
			border-left-style:solid;    /*设置边框*/
			border-left-color:white;
			border-left-width:8px;
	
}
/*元素a#ctrip_cn，innerHTML="简体中文"*/
#ctrip_cn{			
			top:10px;
			left:13px;			 
			background-image:url('http://localhost:8080/ctrip/image/nationalFlag/china_Flag.jpg');			
}
/*元素a#ctrip_eng，innerHTML="English (United States)"*/
#ctrip_eng{			
			top:10px;
			left:205px;   	
			background-image:url('http://localhost:8080/ctrip/image/nationalFlag/USA_Flag.jpg');			
}
/*元素a#ctrip_uk，innerHTML="English (United Kingdom)"*/
#ctrip_uk{			
			top:10px;
			left:397px;   
			background-image:url('http://localhost:8080/ctrip/image/nationalFlag/uk_Flag.jpg');	
}
/*元素a#ctrip_egy，innerHTML="埃及语（Egypt）*/
#ctrip_egy{			
			top:45px;
			left:13px;	  
			background-image:url('http://localhost:8080/ctrip/image/nationalFlag/Egypt.jpg');			
}
/*元素a#ctrip_ire，innerHTML="爱尔兰语（Ireland）*/
#ctrip_ire{			
			top:45px;
			left:205px;  
			background-image:url('http://localhost:8080/ctrip/image/nationalFlag/Ireland.jpg');			
}
/*元素a#ctrip_aus，innerHTML="澳大利亚语（Australia）*/
#ctrip_aus{			
			top:45px;
			left:397px; 
			background-image:url('http://localhost:8080/ctrip/image/nationalFlag/Australia.jpg');			
}
/*元素a#ctrip_jap，innerHTML="日语（Japanese）*/
#ctrip_jap{			
			top:82px;
			left:13px;	  
			background-image:url('http://localhost:8080/ctrip/image/nationalFlag/Japanese.jpg');			
}
/*元素a#ctrip_bra，innerHTML="巴西 (Brazil)"*/
#ctrip_bra{			
			top:82px;
			left:205px;  
			background-image:url('http://localhost:8080/ctrip/image/nationalFlag/Brazil.jpg');			
}
/*元素a#ctrip_kor，innerHTML="朝鲜 (Korea)"*/
#ctrip_kor{			
			top:82px;
			left:397px; 
			background-image:url('http://localhost:8080/ctrip/image/nationalFlag/Korea.jpg');			
}
/*元素a#ctrip_den，innerHTML="丹麦（Denmark"*/
#ctrip_den{			
			top:119px;
			left:13px;	  
			background-image:url('http://localhost:8080/ctrip/image/nationalFlag/Denmark.jpg');			
}
/*元素a#ctrip_ger，innerHTML="德语（German）"*/
#ctrip_ger{			
			top:119px;
			left:205px;  
			background-image:url('http://localhost:8080/ctrip/image/nationalFlag/German.jpg');			
}
/*元素a#ctrip_rus，innerHTML="俄语（Russian）"*/
#ctrip_rus{			
			top:119px;
			left:397px; 
			background-image:url('http://localhost:8080/ctrip/image/nationalFlag/Russian.jpg');			
}
/*元素a#ctrip_fre，innerHTML="法语（French）"*/
#ctrip_fre{			
			top:156px;
			left:13px;	  
			background-image:url('http://localhost:8080/ctrip/image/nationalFlag/French.jpg');			
}
/*元素a#ctrip_cub，innerHTML="古巴语（Cuban）"*/
#ctrip_cub{			
			top:156px;
			left:205px;  
			background-image:url('http://localhost:8080/ctrip/image/nationalFlag/Cuban.jpg');			
}
/*元素a#ctrip_korn，innerHTML="韩语（Korean）"*/
#ctrip_korn{			
			top:156px;
			left:397px; 
			background-image:url('http://localhost:8080/ctrip/image/nationalFlag/Korean.jpg');			
}
/*元素a#ctrip_dut，innerHTML="荷兰语（Dutch）"*/
#ctrip_dut{			
			top:193px;
			left:13px;	  
			background-image:url('http://localhost:8080/ctrip/image/nationalFlag/Dutch.jpg');			
}
/*元素a#ctrip_can，innerHTML="加拿大（Canada English）"*/
#ctrip_can{			
			top:193px;
			left:205px;  
			background-image:url('http://localhost:8080/ctrip/image/nationalFlag/Canada.jpg');			
}
/*元素a#ctrip_mya，innerHTML="缅甸Myanmar（Burmese）"*/
#ctrip_mya{			
			top:193px;
			left:397px; 
			background-image:url('http://localhost:8080/ctrip/image/nationalFlag/Myanmar.jpg');			
}
/*元素a#ctrip_mex，innerHTML="墨西哥语（Mexico）"*/
#ctrip_mex{			
			top:230px;
			left:13px;	  
			background-image:url('http://localhost:8080/ctrip/image/nationalFlag/Mexico.jpg');			
}
/*元素a#ctrip_sou，innerHTML="南非SouthAfrica(English)"*/
#ctrip_sou{			
			top:230px;
			left:205px;  
			background-image:url('http://localhost:8080/ctrip/image/nationalFlag/SouthAfrica.jpg');			
}
/*元素a#ctrip_swe，innerHTML="瑞典语（Sweden）"*/
#ctrip_swe{			
			top:230px;
			left:397px; 
			background-image:url('http://localhost:8080/ctrip/image/nationalFlag/Sweden.jpg');			
}
/*元素a#ctrip_swi，innerHTML="瑞士语（Switzerland）"*/
#ctrip_swi{			
			top:267px;
			left:13px;	  
			background-image:url('http://localhost:8080/ctrip/image/nationalFlag/Switzerland.jpg');			
}
/*元素a#ctrip_spa，innerHTML="西班牙语（Spanish）"*/
#ctrip_spa{			
			top:267px;
			left:205px;  
			background-image:url('http://localhost:8080/ctrip/image/nationalFlag/Spanish.jpg');			
}
/*元素a#ctrip_gre，innerHTML="希腊语（Greek）"*/
#ctrip_gre{			
			top:267px;
			left:397px; 
			background-image:url('http://localhost:8080/ctrip/image/nationalFlag/Greek.jpg');			
}
/*元素ul.nav-bar-set。注：导航栏靠右部分，从“您好，请登录”处开始*/
ul.nav-bar-set{
			position: absolute;
			margin:0px;
			top:0px;
			left:583px;
			width:613px;
			height:38px;
			background-color:#f4f4f4;
}
/*元素li#nav-bar-set-login，唯一子元素a.person-text，innerHTML="您好，请登录"。包含块：ul.nav-bar-set*/
#nav-bar-set-login  a{
			position: absolute;
			top:0px;
			left:0px;
			width:72px;
			height:38px;
			line-height:38px;
			color:#0066cc;
}
/*元素li#nav-bar-set-reg，唯一子元素a.person-text nav-per，innerHTML="免费注册"。包含块：ul.nav-bar-set*/
#nav-bar-set-reg  a.person-text.nav-per{
			position: absolute;
			margin-left:16px;
			padding:0px;
			top:0px;
			left:72px;
			width:48px;
			height:38px;
			line-height:38px;
}
/*元素li>i.infor-notice 作为分隔竖线使用，即【消息】前面的竖线。包含块：ul.nav-bar-set*/
.infor-notice {
			position: absolute;
			margin-left:16px;
			top:0px;
			left:136px;
			width:15px;
			height:38px;
			line-height:38px;
			background-image:url('http://localhost:8080/ctrip/image/vLine.png'); 	
			background-size:15px,15px;
			background-repeat:no-repeat;
			background-position:left center;
}
/*元素a.infor-num，innerHTML="消息"。包含块：ul.nav-bar-set*/
.infor-num{
			position: absolute;
			margin-left:10px;
			padding-left:17px;
			top:0px;
			left:167px;
			width:24px;
			height:38px;
			line-height:38px;
			background-image:url('http://localhost:8080/ctrip/image/envelope.png'); 	
			background-size:15px,15px;
			background-repeat:no-repeat;
			background-position:left center;
			
}
/*消息数量元素a.infor-num >span，innerHTML="0"即。包含块：a.infor-num*/
.infor-num  span{
			position: absolute;
			padding-left:17px;
			padding-right:15px;
			top:0px;
			left:34px;
			width:auto;
			height:38px;
			line-height:38px;
			background-image:url('http://localhost:8080/ctrip/image/vLine.png'); 	
			background-size:15px,15px;
			background-repeat:no-repeat;
			background-position:right center;
}
/*元素a.person-text.nav-myctrip，innerHTML="我的携程"，鼠标移出。包含块：ul.nav-bar-set*/
li.set-list.set-myctrip-list a.person-text.nav-myctrip{
			position: absolute;
			margin-left:22px;
			padding-right:16px;
			padding-left:10px;
			top:0px;
			left:221px;
			width:65px;
			height:38px;
			line-height:38px;	
			background:#f4f4f4; 
			z-index:9998;
}
/*元素a.person-text.nav-myctrip，innerHTML="我的携程"，鼠标移入。包含块：ul.nav-bar-set*/
li.set-list.set-myctrip-list.current  a.person-text.nav-myctrip{
			background:white;  
			border-left-style:solid;    /*设置边框*/ 
			border-left-color:#b7b5b5;
			border-left-width:1px;
			border-right-style:solid;    
			border-right-color:#b7b5b5;
			border-right-width:1px;
			box-shadow: 1px 1px 1px #888888;   /*设置阴影*/ 
			z-index:9998;
}
/*辅助元素三角形。元素a.person-text.nav-myctrip，innerHTML="我的携程"右边的三角形（朝下）。包含块：ul.nav-bar-set*/
li.set-list.set-myctrip-list a.person-text.nav-myctrip .n-arrow{
			position: absolute;
			top:0px;
			left:50px;
			width:36px;
			height:38px;
			line-height:38px;
			background-image:url('http://localhost:8080/ctrip/image/triangle_Downward.png'); 	
			background-size:18px,18px;
			background-repeat:no-repeat;
			background-position:center;
}
/*辅助元素三角形。元素a.person-text.nav-myctrip，innerHTML="我的携程"右边的三角形(朝上)。包含块：ul.nav-bar-set*/
li.set-list.set-myctrip-list.current a.person-text.nav-myctrip .n-arrow{
			background-image:url('http://localhost:8080/ctrip/image/triangle_Upward.png'); 	
			background-size:18px,18px;
			background-repeat:no-repeat;
			background-position:center;
}
/*元素ul.nav-drowndrop，"我的携程"下拉框。包含块：ul.nav-bar-set*/
ul.nav-drowndrop{
			position: absolute;
			top:36px;
			left:243px;
			width:51px;
			height:123px;
			background:white;  
			border-left-style:solid;    /* 设置边框 */
			border-left-color:#b7b5b5;
			border-left-width:1px;
			border-right-style:solid;    
			border-right-color:#b7b5b5;
			border-right-width:1px;
			border-bottom-style:solid;    
			border-bottom-color:#b7b5b5;
			border-bottom-width:1px;
			box-shadow: 1px 1px 1px #888888;   /* 设置阴影 */
			z-index:9999;
}
/*"我的携程"下拉框下第一个元素li，用作辅助元素，遮盖下拉框上面的阴影线。包含块：ul.nav-drowndrop*/
ul.nav-drowndrop li:first-of-type{
			position: absolute;
			top:-2px;
			left:0px;
			width:90px;
			height:5px;
			background:white; 
}
/*元素li.myXiecheng01，innerHTML="我的收藏"。包含块：ul.nav-drowndrop*/
#myXiecheng01{
			position: absolute;
			top:5px;
			padding-left:10px;
			width:80px;
			height:30px;
			line-height:30px;
			background:white; 
}
/*元素li.myXiecheng02，innerHTML="我的优惠券"。包含块：ul.nav-drowndrop*/
#myXiecheng02{
			position: absolute;
			top:33px;
			left:0px;
			padding-left:10px;
			width:81px;
			height:30px;
			line-height:30px;
			background:white; 
}
/*元素li.myXiecheng03，innerHTML="常用信息"。包含块：ul.nav-drowndrop*/
#myXiecheng03{
			position: absolute;
			top:63px;
			left:0px;
			padding-left:10px;
			width:81px;
			height:30px;
			line-height:30px;
			background:white; 
}
/*元素li.myXiecheng04，innerHTML="我的钱包"。包含块：ul.nav-drowndrop*/
#myXiecheng04{
			position: absolute;
			top:93px;
			left:0px;
			padding-left:10px;
			width:81px;
			height:30px;
			line-height:30px;
			background:white; 
}
/*元素li.set-list.set-myorder-list a.person-text.nav-myctrip，innerHTML="我的订单"，鼠标移出。包含块：ul.nav-bar-set*/
li.set-list.set-myorder-list a.person-text.nav-myctrip {
			display:block;
			position: absolute;
			left:329px;
			padding-left:18px;
			padding-right:25px;
			width:50px;
			height:38px;
			line-height:38px;
			background-image:url('http://localhost:8080/ctrip/image/vLine.png');
			background-size:15px,15px;
			background-repeat:no-repeat;
			background-position:left center;
			z-index:9999;
}
/*元素a.person-text.nav-myctrip，innerHTML="我的订单"，鼠标移入。包含块：ul.nav-bar-set*/
li.set-list.set-myorder-list.current  a.person-text.nav-myctrip{
			background:white;  
			border-left-style:solid;    /*设置边框*/ 
			border-left-color:#b7b5b5;
			border-left-width:1px;
			border-right-style:solid;    
			border-right-color:#b7b5b5;
			border-right-width:1px;
			box-shadow: 1px 1px 1px #888888;   /*设置阴影*/ 
}
/*辅助元素三角形。元素a.person-text.nav-myctrip，innerHTML="我的携程"右边的三角形（朝下）。包含块：ul.nav-bar-set*/
li.set-list.set-myorder-list a.person-text.nav-myctrip .n-arrow{
			position: absolute;
			top:0px;
			left:60px;
			width:36px;
			height:38px;
			line-height:38px;
			background-image:url('http://localhost:8080/ctrip/image/triangle_Downward.png'); 	
			background-size:18px,18px;
			background-repeat:no-repeat;
			background-position:center;
}
/*辅助元素三角形。元素a.person-text.nav-myctrip，innerHTML="我的携程"右边的三角形(朝上)。包含块：ul.nav-bar-set*/
li.set-list.set-myorder-list.current a.person-text.nav-myctrip .n-arrow{
			background-image:url('http://localhost:8080/ctrip/image/triangle_Upward.png'); 	
			background-size:18px,18px;
			background-repeat:no-repeat;
			background-position:center;
}
/*元素ul.nav-drowndrop.drowndrop-order，"我的订单"下拉框。包含块：ul.nav-bar-set*/
ul.nav-drowndrop.drowndrop-order{
			position: absolute;
			top:38px;
			left:329px;
			width:90px;
			height:180px;
			background:white;  
			border-style:solid;    /* 设置边框 */
			border-color:#b7b5b5;
			border-width:1px;
			box-shadow: 1px 1px 1px #888888;   /* 设置阴影 */
			z-index:9999;
}
/*"我的订单"下拉框下第一个元素li，用作辅助元素，遮盖下拉框上面的阴影线。包含块：ul.nav-drowndrop.drowndrop-order*/
ul.nav-drowndrop.drowndrop-order li:first-of-type{
			position: absolute;
			top:-2px;
			left:0px;
			width:93px;
			height:3px;
			background:white; 
}
































