@charset "utf-8";
ul li{list-style:none;}    /*去掉列表前面的项目符号*/
body {
    font: 12px/1.5 "Microsoft yahei", arial, Simsun, sans-serif;
    color: #333;
    background-color: #fff;
}
/*导航栏内容div块元素*/
.nav-bar-cont {	position: absolute;
				margin:0px;
				padding:0px;
				left:0px;
				top:0px;
				background-color:#f4f4f4;
				height:4.057%;
} 
/*让旅行更幸福*/				
.slogan {	position: absolute;
			left:12%;
			width:90px;
			top:50%;
			transform:translateY(-50%);		/*div元素向上平移自身高度的一半（50%）*/	
			text-align: center;
			background-color:red;
}  /*position: absolute;left:215px;top:14px;margin:0 auto;background: green;margin-top:-10.5px;line-height:1.5em;display: none;*/

/*元素ul，id="language" */
.language{	position: absolute;
			margin:0px;
			padding:0px;
			left:18%;
			width:9.2%;
			/* top:50%;			
			transform:translateY(-50%);	 */
			height:100%;
			background: white; 
			/* background: green; */
}
/*元素li，ul.language的第一个li类型子元素*/
.language li:first-of-type{
			position: absolute;
			margin:0px;
			padding:0px;
			/* color:white;*/
			/* background: red; */ 	 			
			/* top:50%;			
			transform:translateY(-50%);	 */
			width:100%;
			height:100%;
			align-items:center;
}
/*a元素，id="selected"；innerHTML="language"。（将行内元素a转换成块级元素再进行定位）利用高度height与行高line-height相同解决文本居中问题，vertical-align: middle; */
.selected{	display:block;
			position: absolute;
			width:100%;	
			height:100%;
			text-align: center;	
			background: white;
}
















			